table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd,
table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even,
tr.details > td.details,table.dataTable tbody tr
{
	background-color: #272b2e;
}

table.dataTable.stripe tbody tr.odd:hover, table.dataTable.display tbody tr.odd:hover,
table.dataTable.stripe tbody tr.even:hover, table.dataTable.display tbody tr.even:hover,
table.dataTable.display tbody tr.odd>.sorting_1:hover, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1:hover,
table.dataTable.display tbody tr.even>.sorting_1:hover, table.dataTable.order-column.stripe tbody tr.even>.sorting_1:hover,
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3{
	
	background-color: #2e3338 !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_paginate .paginate_button{
	color:#f9f9f9 !important;
}

#footer{
	padding: 1px;
	 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -moz-linear-gradient(top, #484e55, #3a3f44 60%, #313539);
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
}